.align-right {
    text-align: right;
}

.p {
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 14;
    font-weight: lighter;
}

.pure-margin-g {
    margin-left: 1em;
}

.margin-more {
    margin-left: 2em;
}